In [3]:
#write a pandas program to create a one dimensional array like object conatainng 
import pandas as pd
arr=[1,2,3,4]
a=pd.Series(arr)
print(a)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
import pandas as pd
arr=[1,2,3,4]
a=pd.Series(arr,index=["x","y","z","p"])
print(a)

x    1
y    2
z    3
p    4
dtype: int64

In [6]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
data=pd.Series(calories,index=["day1","day2"])
print(data)

day1    420
day2    380
dtype: int64

In [13]:
#write a pandas program to add subtract multiply divide
data1=pd.Series([1,2,3,4])
data2=pd.Series([2,4,5,7])
dsum=data1+data2
print("sum:\n ",dsum)
dsub=data1-data2
print("Difference:\n",dsub)
dmul=data1*data2
print("Product:\n",dmul)
ddiv=data1/data2
print("Division:\n",ddiv)

sum:
  0     3
1     6
2     8
3    11
dtype: int64
Difference:
 0   -1
1   -2
2   -2
3   -3
dtype: int64
Product:
 0     2
1     8
2    15
3    28
dtype: int64
Division:
 0    0.500000
1    0.500000
2    0.600000
3    0.571429
dtype: float64

In [16]:
import pandas as pd
data={"calories":[12,25,50],"duration":[5,7,8]}
df = pd.DataFrame(data)
print(df)

   calories  duration
0        12         5
1        25         7
2        50         8

In [22]:
import numpy as np
exam_data  = {'name': ["A","B","C"],'score': [12.5, 9, np.nan],'attempts': [1, 3, 2],'qualify': ['yes', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print(df)

  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no
2    C    NaN         2     yes

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      3 non-null      object
 1   score     2 non-null      float64
 2   attempts  3 non-null      int64
 3   qualify   3 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 224.0+ bytes
None

In [26]:
print(df[["name","score","attempts"]])

  name  score  attempts
0    A   12.5         1
1    B    9.0         3
2    C    NaN         2

In [28]:
print(df[["name"]])

  name
0    A
1    B
2    C

In [31]:
print(df[df["name"] == "A"])

  name  score  attempts qualify
0    A   12.5         1     yes

In [32]:
print(df[df['attempts'] > 2])

  name  score  attempts qualify
1    B    9.0         3      no

In [34]:
row=len(df.axes[0])
print(row)

3

In [39]:
col=len(df.axes[1])
print(row)

4

In [37]:
row=len(df)
print(row)

3

In [40]:
print(df[df['score'].isnull()])

  name  score  attempts qualify
2    C    NaN         2     yes

In [45]:
print(df.loc[[0]])

  name  score  attempts qualify
0    A   12.5         1     yes

In [59]:
print(df.loc[0],['score'])

name          A
score      12.5
qualify     yes
Name: 0, dtype: object ['score']

In [44]:
print(df.loc[[0,1]])

  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no

In [47]:
df.pop('attempts')
print(df)

  name  score qualify
0    A   12.5     yes
1    B    9.0      no
2    C    NaN     yes

In [55]:
result=df.iloc[[0,1],[1,2]]
print(result)

   score qualify
0   12.5     yes
1    9.0      no

In [56]:
df.to_csv('exam_data.csv',index=False)

In [58]:
df=pd.read_csv("exam_data.csv")
print(df)

  name  score qualify
0    A   12.5     yes
1    B    9.0      no
2    C    NaN     yes

In [61]:
import numpy as np
exam_data  = {'name': ["A","B","C","D","E","F","G","H","I","J"],'score': [12.5, 9, np.nan,5,6,8,np.nan,10,7,9],'attempts': [1, 3, 2,1,2,3,4,2,3,4],'qualify': ['yes', 'no', 'yes','yes', 'no', 'yes','yes', 'no', 'yes','no']}
df=pd.DataFrame(exam_data)
print(df)

  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no
2    C    NaN         2     yes
3    D    5.0         1     yes
4    E    6.0         2      no
5    F    8.0         3     yes
6    G    NaN         4     yes
7    H   10.0         2      no
8    I    7.0         3     yes
9    J    9.0         4      no

In [62]:
print(df[["name","qualify"]])

  name qualify
0    A     yes
1    B      no
2    C     yes
3    D     yes
4    E      no
5    F     yes
6    G     yes
7    H      no
8    I     yes
9    J      no

In [63]:
print(df[df["attempts"]>2])

  name  score  attempts qualify
1    B    9.0         3      no
5    F    8.0         3     yes
6    G    NaN         4     yes
8    I    7.0         3     yes
9    J    9.0         4      no

In [65]:
row=len(df.axes[0])
print(row)

10

In [66]:
col=len(df.axes[1])
print(col)

4

In [69]:
print(df[(df['attempts']<2)& (df['score']>10)])

  name  score  attempts qualify
0    A   12.5         1     yes

In [70]:
print(df[df["score"].isnull()])

  name  score  attempts qualify
2    C    NaN         2     yes
6    G    NaN         4     yes

In [71]:
print(df.loc[0],['name'])

name           A
score       12.5
attempts       1
qualify      yes
Name: 0, dtype: object ['name']

In [75]:
print(df.iloc[[0,1],[2]])

   attempts
0         1
1         3

In [78]:
print(df)
df_new=df.dropna()
print(df_new)

  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no
2    C    NaN         2     yes
3    D    5.0         1     yes
4    E    6.0         2      no
5    F    8.0         3     yes
6    G    NaN         4     yes
7    H   10.0         2      no
8    I    7.0         3     yes
9    J    9.0         4      no
  name  score  attempts qualify
0    A   12.5         1     yes
1    B    9.0         3      no
3    D    5.0         1     yes
4    E    6.0         2      no
5    F    8.0         3     yes
7    H   10.0         2      no
8    I    7.0         3     yes
9    J    9.0         4      no